body {
   font-family: 'Open Sans Condensed', sans-serif;
   background-color: lightblue;

}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}
header {
    background-color: white;
}

h1 {
    font-size: 60px;

}
h3 {
    text-align: center;
}

h2, h5 {
    text-align: center;
}

#difficulty {
    text-align: center;
}

#logo {
    height: 60px;
    width: 60px;
    margin-left: 30px;
}

#time {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    
}

#lists {
    display: flex;
    flex-direction: column;
    padding: 10pc;

}

#recipe {
    color: darkgreen;
    height: 45px;
    width: 200px;
    background-color: lightgray;
    border-width: 5px;
    border-style: dotted;
    border-color: darkgreen;
    padding: 10px;
    text-align: center;
    margin: auto;

}

.instructions  {
    font-size: larger;

}
